{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake" class="bg-base-50">
<head>
	<title>Journal Hero</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	{% tailwind_preload_css %}
	{% tailwind_css %}
	{% htmx_script %}

	<!-- Defer so that htmx is loaded before htmx-ext-sse -->
	<script src="https://unpkg.com/htmx-ext-sse@2.2.3" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>